{% extends 'base.html.twig' %}

{% block title %}
	Liste des produits
{% endblock %}

{% block body %}
	<div class="container pt-5">
		{% include 'components/connected-as.html.twig' %}

		<div class="mb-3">
			{% if isAdmin %}
				{% include 'components/back-link.html.twig' with {href: '..'} %}
			{% endif %}
		</div>

		<div>
			<h4 class="my-3">Liste
				{{ isAdmin ? 'des produits de ' ~ fournisseur.prenom ~ ' ' ~ fournisseur.nom_famille : 'de vos produits' }}</h4>
			<a href="{{ currentUrl }}/new-produit" class="btn btn-primary mb-3">
				<i class="material-icons">add</i>
				Ajouter un produit</a>
		</div>
		{% if produits|length > 0 %}
			{% for produit in produits %}
				<div class="card d-inline-block me-3 mb-3 p-3">
					<form method="POST">
						<div class="mb-2">
							<label class="form-label text-muted">Nom du produit</label>
							<input type="text" name="nom_produit" class="form-control" value="{{ produit.nom_produit}}">
						</div>
						<div class="mb-2">
							<label class="form-label text-muted">Description du produit</label>
							<textarea name="desc_produit" cols="30" rows="5" class="form-control">{{ produit.description_produit }}</textarea>
						</div>
						<input type="hidden" name="id_produit" value="{{produit.id_produit}}">
						<button class="btn btn-outline-primary">Enregistrer</button>
					</form>
				</div>
			{% endfor %}
		{% else %}
			<p class="text-muted fst-italic">Il n'y a aucun produits à afficher</p>
		{% endif %}
	</div>
{% endblock %}
