{% extends 'base.html.twig' %}

{% block title %}
	Produit "{{ produit.nom_produit }}"
{% endblock %}

{% block body %}
	<div class="container pt-5">
		{% include 'components/connected-as.html.twig' %}

		<div class="mb-3">
			{% include 'components/back-link.html.twig' with {href: '.'} %}
		</div>
		<h4 class="my-3">Étapes du produit "{{ produit.nom_produit }}"</h4>
		{% if etapes|length > 0 %}
			<div class="card">
				<ul class="list-group list-group-flush">
					{% for etape in etapes %}
						<li class="list-group-item">
							<a class="d-block" href="{{ currentUrl }}/{{ etape.id_etape }}">{{ etape.nom_produit }}</a>
							<small class="text-muted" title="{{ etape.date_creation }}">Créé
								{{ etape.date_creation|timeago }}</small>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
			<p class="text-muted fst-italic">Il n'y a aucune étapes à afficher</p>
		{% endif %}
		<a href="{{ currentUrl }}/new-etape" class="btn btn-primary mb-3">
			<i class="material-icons">add</i>
			Ajouter une étape</a>
	</div>
{% endblock %}
