{% extends 'base.html.twig' %}

{% block title %}dossier
	{{ dossier.nom_produit }}
{% endblock %}

{% block body %}
	<div class="container">
		{% include 'components/connected-as.html.twig' %}

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb d-flex align-items-center">
				<li class="breadcrumb-item">
					<a href="/">Accueil</a>
				</li>
				{% if isAdmin %}
					<li class="breadcrumb-item">
						<a title="Commercial #{{ commercial.id_personne }}" href="/admin/co/{{ commercial.id_personne }}" class="fw-bold">{% include 'components/titre-personne.html.twig' with { personne: commercial} %}</a>
					</li>
				{% endif %}
				<li class="breadcrumb-item">
					<a title="Client #{{ client.id_personne }}" href="/cl/{{ client.id_personne }}" class="fw-bold">{% include 'components/titre-personne.html.twig' with { personne: client} %}</a>
				</li>
				<li title="Dossier #{{ dossier.id_dossier }}" class="breadcrumb-item active">« {{ dossier.nom_produit }} »</li>
			</ol>
		</nav>

		<div class="mb-4">
			<div>
				<h4 class="mb-0 mt-3">Dossier #{{ dossier.id_dossier }}, « {{ dossier.nom_produit }} » du client « <a href="/cl/{{client.id_personne}}">{% include 'components/titre-personne.html.twig' with { personne: client} %}</a> »</h4>
				<p class="text-muted">Ce produit est fourni par « 
					{% if isAdmin %}
						<a href="/admin/f/{{ fournisseur.id_personne }}">
						{% endif %}
						{% include 'components/titre-personne.html.twig' with { personne: fournisseur} %}
						{% if isAdmin %}
						</a>
					{% endif %} », ce dossier est géré par « 
					{% if isAdmin %}
						<a href="/admin/co/{{ commercial.id_personne }}">
						{% endif %}
						{% include 'components/titre-personne.html.twig' with { personne: commercial} %}
						{% if isAdmin %}
						</a>
					{% endif %} »</p>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-md-4">
				<div>
					<!-- Historique -->
					<h4>Historique du dossier</h4>
					{% if logs|length > 0 %}
						<div class="card">
							<ul class="list-group list-group-flush">
								{% for log in logs %}
									<li class="list-group-item">
										<div>
											<strong>{{ log.nom_action }}</strong>
											<span title="{{ log.date_heure }}">
												{{ log.date_heure|timeago }}</span>
										</div>
										<div>Par
											{% include 'components/titre-personne.html.twig' with { personne: log} %}</div>
										<small class="text-muted">{{ log.desc_action }}</small>
									</li>
								{% endfor %}
							</ul>
						</div>
					{% else %}
						<p class="text-muted fst-italic">Il n'y a aucun historique à afficher</p>
					{% endif %}
				</div>
			</div>
			<div
				class="col-12 col-md-8">
				<!-- Etats dossier -->
				{% if etats|length > 0 %}
					<form action="{{ currentUrl }}/changer-etat" method="post">
						<select name="etat" class="form-select d-inline-block w-auto me-3">
							{% for etat in etats %}
								<option value="{{ etat.id_enum_etat }}" {{ etat.id_enum_etat == dossier.etat_dossier ? ' selected' : ''}}>{{ etat.description}}</option>
							{% endfor %}
						</select>
						<button class="btn btn-outline-primary my-1">Sauvegarder état du projet</button>
					</form>
				{% endif %}

				<h4 class="my-3">Fichiers</h4>
				<!-- Upload -->
				<form action="{{currentUrl}}/new-fichier" class="dropzone mb-3" id="dropzoneForm">
					<span class="dz-message">
						<i class="material-icons">add</i>
						Ajouter des fichiers</span>
				</form>
				<a href="{{currentUrl}}/new-fichier" class="d-block mb-3">
					<i>(ou si vous avez des difficultés pour uploader, essayez ce lien à la place)</i>
				</a>

				<!-- Fichiers -->
				{% if fichiers|length > 0 %}
					<div class="mb-3">
						<a href="{{ currentUrl }}/zip" class="btn btn-primary">
							<i class="material-icons">download</i>
							Télécharger tous les fichiers ci dessous</a>
					</div>
					<div class="files-thumbnails">
						{% for fichier in fichiers %}
							<a href="/uploads/{{ fichier.file_name }}" target="_blank" class="text-muted img-thumbnail text-decoration-none">
								<span class="text-decoration-underline">{{ fichier.file_name }}</span>
								<span>Déposé il y a
									{{ fichier.updated_at|timeago }}</span>
								<span class="mb-2">({{ fichier.updated_at }})</span>
								{% if fichier.mime_type starts with "image" %}
									<img src="/uploads/{{ fichier.file_name }}" class="img-fluid">
								{% else %}
									<span class="fst-italic">
										<i class="material-icons">picture_as_pdf</i>
										Aperçu non disponible</span>
								{% endif %}
							</a>
						{% endfor %}
					</div>
				{% else %}
					<p class="text-muted fst-italic">Il n'y a aucun fichiers à afficher</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
