{% extends 'base.html.twig' %}

{% block title %}
	Liste des produits
{% endblock %}

{% block body %}
	<div class="container">
		{% include 'components/connected-as.html.twig' %}

		{% if isAdmin %}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/">Accueil</a>
					</li>
					<li title="Fournisseur #{{ fournisseur.id_personne }}" class="breadcrumb-item active">
						{{ fournisseur.prenom ~ ' ' ~ fournisseur.nom_famille }}
					</li>
				</ol>
			</nav>
		{% endif %}

		<div class="row mb-5">
			<h4>{{ isAdmin ? 'Liste des dossiers du fournisseur' : 'Liste de vos dossiers' }}</h4>
			{% if dossiers|length > 0 %}
				<table class="table sortable-table">
					<thead>
						<tr>
							<th scope="col">N° dossier</th>
							<th scope="col">Etat du dossier</th>
							<th scope="col">Nom produit</th>
							<th scope="col">Commercial</th>
							<th scope="col">Client</th>
							<th scope="col">Date de création</th>
						</tr>
					</thead>
					<tbody>
						{% for dossier in dossiers %}
							<tr>
								<th scope="row">
									<a href="/d/{{ dossier.id_dossier }}">Dossier #{{ dossier.id_dossier }}</a>
								</th>
								<td>{{ etats_dossier[dossier.etat_dossier] }}</td>
								<td>
									{{ dossier.nom_produit }}
								</td>
								<td>
									{{ commerciaux[dossier.id_commercial].nom_famille|upper ~ ' ' ~ commerciaux[dossier.id_commercial].prenom }}
								</td>
								<td>
									<a href="/cl/{{ dossier.id_client }}">{{ clients[dossier.id_client].nom_famille|upper ~ ' ' ~ clients[dossier.id_client].prenom }}</a>
								</td>
								<td>{{ dossier.date_creation ~ ' (' ~ dossier.date_creation|timeago }})</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p class="text-muted fst-italic">Il n'y a aucun dossiers à afficher</p>
			{% endif %}
		</div>
		<div
			class="row g-lg-5 mb-5">
			<!-- Coordonnées -->
			<div class="col-12 col-lg-6">
				<h4>{{ isAdmin ? 'Détails du fournisseur' : 'Vos informations' }}</h4>
                <form method="POST">
                    {% include 'components/personne-details-inputs.html.twig' with {btnText: 'Valider les modifications', user: fournisseur} %}
                </form>
			</div>
			<!-- Liste produits -->
			<div class="col-12 col-lg-6">
				<h4 class="my-3">{{ isAdmin ? 'Liste des produits du fournisseur' : 'Liste de vos produits' }}</h4>
				<div>
					<a href="{{ currentUrl }}/new-produit" class="btn btn-primary mb-3">
						<i class="material-icons">add</i>
						Ajouter un produit</a>
				</div>
				{% if produits|length > 0 %}
					{% for produit in produits %}
						<div class="card d-inline-block me-3 mb-3 p-3">
							<form method="POST" action="{{ currentUrl }}/{{ produit.id_produit }}">
								<div class="mb-2">
									<label class="form-label text-muted">Nom du produit</label>
									<input type="text" name="nom_produit" class="form-control" value="{{ produit.nom_produit}}">
								</div>
								<div class="mb-2">
									<label class="form-label text-muted">Description du produit</label>
									<textarea name="desc_produit" cols="30" rows="5" class="form-control">{{ produit.description_produit }}</textarea>
								</div>
								<input type="hidden" name="id_produit" value="{{produit.id_produit}}">
								<button class="btn btn-outline-primary">Enregistrer</button>
							</form>
						</div>
					{% endfor %}
				{% else %}
					<p class="text-muted fst-italic">Il n'y a aucun produits à afficher</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
