{% extends 'base.html.twig' %}

{% block title %}Produit «
	{{ produit.nom_produit }}
	»
{% endblock %}

{% block body %}
	<div class="container">
		{% include 'components/connected-as.html.twig' %}

		<nav aria-label="breadcrumb bg-white">
			<ol class="breadcrumb bg-light p-2 px-3 rounded">
				<li class="breadcrumb-item">
					<a href="/">Accueil</a>
				</li>
				{% if isAdmin %}
					<li class="breadcrumb-item">
						<a title="Fournisseur #{{ fournisseur.id_personne }}" href="/admin/f/{{ fournisseur.id_personne }}" class="fw-bold">
							{% include 'components/titre-personne.html.twig' with { personne: fournisseur} %}</a>
					</li>
				{% endif %}
				<li title="Produit #{{ produit.id_produit }}" class="breadcrumb-item active">«
					{{ produit.nom_produit }}
					»</li>
			</ol>
		</nav>

		<!-- Titre du produit -->
		<h4 class="my-4">Produit #{{ produit.id_produit }}, «
			{{ produit.nom_produit }}</h4>

		<!-- Etats produit -->
        <form action="{{ currentUrl }}/new-etat" method="POST" class="my-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Description d'un nouvel état" name="description">
                <button class="btn btn-outline-primary"><i class="material-icons">add</i> Ajouter nouvel état</button>
            </div>
        </form>
        {% if etats|length > 0 %}
			<form action="{{ currentUrl }}/etats-produit" method="POST" id="etats_produit">
				<div class="d-flex flex-column">
					{% for etat in etats %}
						<div class="mb-2 row" style="order: {{ etat.order_etat }}" data-order="{{ etat.order_etat }}">
							<input type="hidden" name="id_etat[]" value="{{ etat.id_etat }}"/>
							<input type="hidden" name="order_etat[]" id="order_etat_{{ etat.id_etat }}" value="{{ etat.order_etat }}"/>
							<div class="col-auto pe-1 py-1">
								<button class="btn btn-outline-secondary etatOrderBtn" data-action="up" data-etat-id="{{ etat.id_etat }}">
									<i class="material-icons">arrow_upward</i>
								</button>
							</div>
							<div class="col-auto p-1">
								<button class="btn btn-outline-secondary etatOrderBtn" data-action="down" data-etat-id="{{ etat.id_etat }}">
									<i class="material-icons">arrow_downward</i>
								</button>
							</div>
							<div class="col-auto p-1">
								<a href="{{ currentUrl }}/{{ etat.id_etat }}/supprimer-etat" class="btn btn-outline-danger">
									<i class="material-icons">delete</i>
								</a>
							</div>
							<div class="col p-1">
								<input name="description[]" placeholder="Description de l'état" value="{{ etat.description }}" type="text" class="form-control"/>
							</div>
						</div>
					{% endfor %}
				</div>
                <div class="d-flex">
                    <button class="btn btn-primary mx-auto">Enregistrer</button>
                </div>
			</form>
			<script src="{{ base_url }}/public/js/etats-produit.js"></script>
		{% endif %}
	</div>
{% endblock %}
