{% extends 'base.html.twig' %}

{% block title %}
	Client « {% include 'components/titre-personne.html.twig' with { personne: client} %} »
{% endblock %}

{% block body %}
	<div class="container">
		{% include 'components/connected-as.html.twig' %}

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-light p-2 px-3 rounded">
				<li class="breadcrumb-item">
					<a href="/">Accueil</a>
				</li>
				{% if isAdmin %}
					<li class="breadcrumb-item">
                        <a title="Commercial #{{ commercial.id_personne }}" href="/admin/co/{{ commercial.id_personne }}" class="fw-bold">{% include 'components/titre-personne.html.twig' with { personne: commercial} %} (commercial)</a>
					</li>
				{% endif %}
                <li title="Client #{{ client.id_personne }}" class="breadcrumb-item active">{% include 'components/titre-personne.html.twig' with { personne: client} %} (client)</li>
			</ol>
		</nav>

		<div class="row g-5">
			<div class="col-12 col-lg-6">
				<h4>Détails du client</h4>
                <form method="POST">
                    {% include 'components/personne-details-inputs.html.twig' with {btnText: 'Modifier ce client', user: client} %}
                </form>
			</div>
			<div class="col-12 col-lg-6">
                <!-- Dossiers -->
				<h4 class="my-3">Dossiers du client « {% include 'components/titre-personne.html.twig' with { personne: client} %} »</h4>
				<p class="text-muted">Client appartenant au commercial "{% include 'components/titre-personne.html.twig' with { personne: commercial} %}"
				</p>
                {% if current_user.user_role != 'fournisseur' %}
                    <a href="{{ current_url }}/new-dossier" class="btn btn-primary mb-3">
                        <i class="material-icons">add</i>
                        Créer un nouveau dossier</a>
                {% endif %}
				{% if dossiers|length > 0 %}
					<div class="card">
						<ul class="list-group list-group-flush">
							{% for dossier in dossiers %}
								<li class="list-group-item">
									<a class="d-block" href="/d/{{ dossier.id_dossier }}">{{ dossier.nom_produit }}
										(Dossier #{{ dossier.id_dossier }})</a>
									<small class="text-muted" title="{{ dossier.date_creation }}">Modifié
										{{ dossier.date_creation|timeago }}</small>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% else %}
					<p class="text-muted fst-italic">Il n'y a aucun dossiers à afficher</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
