{% extends 'base.html.twig' %}

{% block title %}
	Liste des clients
{% endblock %}

{% block body %}
	<div class="container">
		{% include 'components/connected-as.html.twig' %}

		{% if isAdmin %}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-light p-2 px-3 rounded">
					<li class="breadcrumb-item">
						<a href="/">Accueil</a>
					</li>
					<li title="Commercial #{{ commercial.id_personne }}" class="breadcrumb-item active">
						{% include 'components/titre-personne.html.twig' with { personne: commercial} %}
					</li>
				</ol>
			</nav>
		{% endif %}

		<div class="row g-5">
			<div class="col-12 col-lg-6">
				<h4>
					{{ isAdmin ? 'Détails du commercial' : 'Vos informations' }}
				</h4>
				<form method="POST">
					{% include 'components/personne-details-inputs.html.twig' with {btnText: 'Valider les modifications', user: commercial} %}
				</form>
			</div>
			<div class="col-12 col-lg-6">
				<h4 class="my-3">
                    {% if isAdmin %}
                    Liste des clients de {% include 'components/titre-personne.html.twig' with { personne: commercial} %}
                    {% else %}
                    Liste de vos clients
                    {% endif %}
					</h4>
				<a href="{{ currentUrl }}/new-client" class="btn btn-primary mb-3">
					<i class="material-icons">add</i>
					Ajouter un client</a>
				<!-- Clients -->
				{% if clients|length > 0 %}
					<div class="card">
						<ul class="list-group list-group-flush">
							{% for client in clients %}
								<li class="list-group-item">
									<a class="text-decoration-none d-block" href="/cl/{{ client.id_personne }}">
										<div>{% include 'components/titre-personne.html.twig' with { personne: client} %}</div>
										<small class="text-muted">{{ client.nb_dossiers }}
											dossiers</small>
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% else %}
					<p class="text-muted fst-italic">Il n'y a aucun clients à afficher</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
