{% extends 'base.html.twig' %}

{% block title %}
	Liste des utilisateurs
{% endblock %}

{% block body %}
	<div class="container">
		{% include 'components/connected-as.html.twig' %}

		<div class="row g-1 mb-3">
			<span class="col-auto">
				<a href="/admin/new-user" class="btn btn-primary">
					<i class="material-icons">person_add</i>
					Ajouter un utilisateur</a>
			</span>
			<span class="col-auto">
				<a href="{{currentUrl}}/etats-dossiers" class="btn btn-primary">
					<i class="material-icons">label</i>
					Liste des états possibles de dossier</a>
			</span>
		</div>

		<ul class="nav nav-tabs row row-cols-auto g-1 mb-3" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="dossiers-tab" data-bs-toggle="tab" data-bs-target="#dossiers" type="button" role="tab" aria-controls="dossiers" aria-selected="true">Dossiers</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="users-tab" data-bs-toggle="tab" data-bs-target="#users" type="button" role="tab" aria-controls="users" aria-selected="false">Utilisateurs</button>
			</li>
			{# <li class="nav-item" role="presentation">
							<button class="nav-link" id="produits-tab" data-bs-toggle="tab" data-bs-target="#produits" type="button" role="tab" aria-controls="produits" aria-selected="false">Produits</button>
						</li> #}
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="dossiers" role="tabpanel" aria-labelledby="dossiers-tab">
				{% if dossiers|length > 0 %}
					<table class="table sortable-table">
						<thead>
							<tr>
								<th scope="col">N° dossier</th>
								<th scope="col">Etat du dossier</th>
								<th scope="col">Nom produit</th>
								<th scope="col">Commercial</th>
								<th scope="col">Client</th>
								<th scope="col">Fournisseur</th>
								<th scope="col">Date de création</th>
							</tr>
						</thead>
						<tbody>
							{% for dossier in dossiers %}
								<tr>
									<th scope="row">
										<a href="{{currentUrl}}/co/{{ dossier.id_commercial }}/{{ dossier.id_client }}/{{ dossier.id_dossier }}">Dossier #{{ dossier.id_dossier }}</a>
									</th>
									<td>{{ etats_dossier[dossier.etat_dossier] }}</td>
									<td>
										{{ dossier.nom_produit }}
									</td>
									<td>
										<a href="{{currentUrl}}/co/{{ dossier.id_commercial }}">{{ commerciaux[dossier.id_commercial].nom_famille|upper ~ ' ' ~ commerciaux[dossier.id_commercial].prenom }}</a>
									</td>
									<td>
										<a href="{{currentUrl}}/co/{{ dossier.id_commercial }}/{{ dossier.id_client }}">{{ clients[dossier.id_client].nom_famille|upper ~ ' ' ~ clients[dossier.id_client].prenom }}</a>
									</td>
									<td>
										<a href="{{currentUrl}}/f/{{ dossier.id_fournisseur }}">{{ fournisseurs[dossier.id_fournisseur].nom_famille|upper ~ ' ' ~ fournisseurs[dossier.id_fournisseur].prenom }}</a>
									</td>
									<td>{{ dossier.date_creation ~ ' (' ~ dossier.date_creation|timeago }})</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p class="text-muted fst-italic">Il n'y a aucun dossiers à afficher</p>
				{% endif %}
			</div>
			<div
				class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
				<!-- Utilisateurs -->
				<h5>Liste des commerciaux</h5>
				{% if commerciaux|length > 0 %}
					<div class="card mb-3">
						<ul class="list-group list-group-flush">
							{% for commercial in commerciaux %}
								<li class="list-group-item">
									<a href="{{currentUrl}}/co/{{commercial.id_personne}}">{{ commercial.nom_famille|upper ~ ' ' ~ commercial.prenom ~ ' (' ~ commercial.email ~ ')' }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% else %}
					<p class="text-muted fst-italic">Il n'y a aucun commerciaux à afficher</p>
				{% endif %}
				<h5>Liste des fournisseurs</h5>
				{% if fournisseurs|length > 0 %}
					<div class="card">
						<ul class="list-group list-group-flush">
							{% for fournisseur in fournisseurs %}
								<li class="list-group-item">
									<a href="{{currentUrl}}/f/{{fournisseur.id_personne}}">{{ fournisseur.nom_famille|upper ~ ' ' ~ fournisseur.prenom ~ ' (' ~ fournisseur.email ~ ')' }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% else %}
					<p class="text-muted fst-italic">Il n'y a aucun fournisseurs à afficher</p>
				{% endif %}
			</div>
			{# <div class="tab-pane fade" id="produits" role="tabpanel" aria-labelledby="produits-tab">
			                tab 3
			            </div> #}
		</div>
	</div>
{% endblock %}
