{% extends 'base.html.twig' %}

{% block title %}
	Liste des utilisateurs
{% endblock %}

{% block body %}
	<div class="container my-5 pt-5">
		{% include 'components/connected-as.html.twig' %}

        <div class="row g-1 mb-3">
			<span class="col-auto">
				<a href="/admin/new-commercial" class="btn btn-primary">
					<i class="material-icons">person_add</i>
					Créer un compte de commercial</a>
			</span>
			<span class="col-auto">
				<a href="/admin/new-fournisseur" class="btn btn-primary">
					<i class="material-icons">person_add</i>
					Créer un compte de fournisseur</a>
			</span>
			<span class="col-auto">
				<a href="{{currentUrl}}/etats-dossiers" class="btn btn-primary">
                    <i class="material-icons">label</i>
                    Liste des états possibles de dossier</a>
			</span>
		</div>

		{% if dossiers|length > 0 %}
			<table class="table sortable-table">
				<thead>
					<tr>
						<th scope="col">N° dossier</th>
						<th scope="col">Etat du dossier</th>
						<th scope="col">Nom produit</th>
						<th scope="col">Commercial</th>
						<th scope="col">Client</th>
						<th scope="col">Fournisseur</th>
						<th scope="col">Date de création</th>
					</tr>
				</thead>
				<tbody>
					{% for dossier in dossiers %}
						<tr>
							<th scope="row">#{{ dossier.id_dossier }}</th>
							<td>{{ etats_dossier[dossier.etat_dossier] }}</td>
							<td>
								<a href="{{currentUrl}}/co/{{ dossier.id_commercial }}/{{ dossier.id_client }}/{{ dossier.id_dossier }}">{{ dossier.nom_produit }}</a>
							</td>
							<td>
								<a href="{{currentUrl}}/co/{{ dossier.id_commercial }}">{{ commerciaux[dossier.id_commercial].nom_famille|upper ~ ' ' ~ commerciaux[dossier.id_commercial].prenom }}</a>
							</td>
							<td>
								<a href="{{currentUrl}}/co/{{ dossier.id_commercial }}/{{ dossier.id_client }}">{{ clients[dossier.id_client].nom_famille|upper ~ ' ' ~ clients[dossier.id_client].prenom }}</a>
							</td>
							<td>
								<a href="{{currentUrl}}/f/{{ dossier.id_fournisseur }}">{{ fournisseurs[dossier.id_fournisseur].nom_famille|upper ~ ' ' ~ fournisseurs[dossier.id_fournisseur].prenom }}</a>
							</td>
							<td title="{{ dossier.date_creation }}">{{ dossier.date_creation|timeago }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p class="text-muted fst-italic">Il n'y a aucun dossiers à afficher</p>
		{% endif %}
	</div>
{% endblock %}
