{% extends 'base.html.twig' %}

{% block title %}Liste clients{% endblock %}

{% block body %}
<div class="container mt-5 pt-5">
    {% include 'components/connected-as.html.twig' %}

    {% if current_user.user_role == 'admin' %}
    {% include 'components/back-link.html.twig' with {href: '/commerciaux', text: 'Revenir à la liste des
    commerciaux'}%}
    <h4 class="mb-3">Liste des clients de {{ commercial.prenom ~ ' ' ~ commercial.nom_famille }} (uid:{{ commercial.id
        }})</h4>
    {% else %}
    <h4 class="mb-3">Liste de vos clients</h4>
    {% endif %}

    <p>
        <a href="/clients/new" class="btn btn-primary"><i data-feather="plus"></i> Ajouter un client</a>
    </p>
    {% if clients|length > 0 %}
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for client in clients %}
            <li class="list-group-item">
                <h5>{{ client.civilite ~ ' ' ~ client.prenom ~ ' ' ~ client.nom_famille}}</h5>
                <p>Nombre de produits avec {{ current_user.user_role == 'admin' ? 'ce commercial' :
                    'vous' }} : {{ client.nb_projets }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% elseif current_user.user_role == 'admin' %}
    <p class="text-muted fst-italic">Ce commercial n'a pas de clients</p>
    {% else %}
    <p class="text-muted fst-italic">Vous n'avez pas de clients</p>
    {% endif %}
</div>
{% endblock %}