{% extends 'base.html.twig' %}

{% block title %}
	Liste de vos clients
{% endblock %}

{% block body %}
	{% set adminBaseURL = 'admin/co/' %}
	<div class="container my-5 pt-5">
		{% include 'components/connected-as.html.twig' %}
		<h4 class="my-3">Liste
			{{ isAdmin ? 'des clients de ' ~ commercial.prenom ~ ' ' ~ commercial.nom_famille ~ ' (uid:' ~ commercial.id_personne ~ ')' : 'de vos clients' }}</h4>
		<p>
			{% if isAdmin %}
				{% include 'components/back-link.html.twig' %}
			{% endif %}
			<a href="{{ currentUrl }}/new-client" class="btn btn-primary">
				<i class="material-icons">add</i>
				Ajouter un client</a>
		</p>
		{% if clients|length > 0 %}
			<div class="card">
				<ul class="list-group list-group-flush">
					{% for client in clients %}
						<li class="list-group-item">
							<a class="text-decoration-none" href="{{ currentUrl }}/{{ client.id_personne }}">{{ client.civilite|capitalize ~ ' ' ~ client.prenom ~ ' ' ~ client.nom_famille}}</a>
							<p>Nombre de dossiers de ce client :
								{{ client.nb_dossiers }}
							</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
			<p class="text-muted fst-italic">Il n'y a aucun clients à afficher</p>
		{% endif %}
	</div>
{% endblock %}
