{% extends 'base.html.twig' %}

{% block title %}
	Liste des clients
{% endblock %}

{% block body %}
	<div class="container pt-5">
		{% include 'components/connected-as.html.twig' %}

		{% if isAdmin %}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/">Home</a>
					</li>
					<li class="breadcrumb-item active">Commercial #{{ commercial.id_personne }}</li>
				</ol>
			</nav>
		{% endif %}

		<h4 class="my-3">Liste
			{{ isAdmin ? 'des clients de ' ~ commercial.prenom ~ ' ' ~ commercial.nom_famille : 'de vos clients' }}</h4>
		<a href="{{ currentUrl }}/new-client" class="btn btn-primary mb-3">
			<i class="material-icons">add</i>
			Ajouter un client</a>
		{% if clients|length > 0 %}
			<div class="card">
				<ul class="list-group list-group-flush">
					{% for client in clients %}
						<li class="list-group-item">
							<a class="text-decoration-none d-block" href="{{ currentUrl }}/{{ client.id_personne }}">{{ client.civilite|capitalize ~ ' ' ~ client.prenom ~ ' ' ~ client.nom_famille}}</a>
							<small class="text-muted">{{ client.nb_dossiers }}
								dossiers</small>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
			<p class="text-muted fst-italic">Il n'y a aucun clients à afficher</p>
		{% endif %}
	</div>
{% endblock %}
