{% extends 'base.html.twig' %}

{% block title %}
	Client "{{ client.prenom ~ ' ' ~ client.nom_famille }}"
{% endblock %}

{% block body %}
	<div class="container pt-5">
		{% include 'components/connected-as.html.twig' %}

        <nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				{% if isAdmin %}<li class="breadcrumb-item"><a href="..">Commercial #{{ commercial.id_personne }}</a></li>{% endif %}
				<li class="breadcrumb-item active">Client #{{ client.id_personne }}</li>
			</ol>
		</nav>

		<div class="row g-5">
			<div class="col-12 col-lg-6">
				<h4>Détails du client</h4>
				{% include 'components/client-details-form.html.twig' with {action: 'edit'} %}
			</div>
			<div class="col-12 col-lg-6">
				<h4 class="my-3">Dossiers du client "{{ client.prenom ~ ' ' ~ client.nom_famille }}"</h4>
				<p class="text-muted">Client appartenant au commercial "{{ commercial.prenom ~ ' ' ~ commercial.nom_famille}}"
				</p>
				<a href="{{ currentUrl }}/new-dossier" class="btn btn-primary mb-3">
					<i class="material-icons">add</i>
					Créer un nouveau dossier</a>
				{% if dossiers|length > 0 %}
					<div class="card">
						<ul class="list-group list-group-flush">
							{% for dossier in dossiers %}
								<li class="list-group-item">
									<a class="d-block" href="{{ currentUrl }}/{{ dossier.id_dossier }}">{{ dossier.nom_produit }}</a>
									<small class="text-muted" title="{{ dossier.date_creation }}">Créé
										{{ dossier.date_creation|timeago }}</small>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% else %}
					<p class="text-muted fst-italic">Il n'y a aucun dossiers à afficher</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
