{% extends 'base.html.twig' %}

{% block title %}
	Client "{{ client.prenom ~ ' ' ~ client.nom_famille }}"
{% endblock %}

{% block body %}
	<div class="container my-5 pt-5">
		{% include 'components/connected-as.html.twig' %}
        
		<h4 class="my-3">Client "{{ client.prenom ~ ' ' ~ client.nom_famille }}"</h4>
        <p>
            {% include 'components/back-link.html.twig' %}
            <a href="{{ currentUrl }}/new-dossier" class="btn btn-primary">
                <i class="material-icons">add</i>
                Ajouter un dossier</a>
        </p>
		{% if dossiers|length > 0 %}
			<div class="card">
				<ul class="list-group list-group-flush">
					{% for dossier in dossiers %}
						<li class="list-group-item">
							<a href="{{ currentUrl }}/{{ dossier.id_dossier }}">{{ dossier.nom_produit }}</a>
							<p>Créé
								{{ dossier.date_creation|timeago }}</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
			<p class="text-muted fst-italic">Il n'y a aucun dossiers à afficher</p>
		{% endif %}
	</div>
{% endblock %}
